<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
            <Label class="footnote" text="username@mail.com"></Label>
        </StackLayout>

        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="Home" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/browse')" (tap)="onNavItemTap('/browse')">
                    <Label col="0" text="&#xf1ea;" class="fa"></Label>
                    <Label col="1" text="Browse" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/search')" (tap)="onNavItemTap('/search')">
                    <Label col="0" text="&#xf002;" class="fa"></Label>
                    <Label col="1" text="Search" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/featured')" (tap)="onNavItemTap('/featured')">
                    <Label col="0" text="&#xf005;" class="fa"></Label>
                    <Label col="1" text="Featured" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="&#xf013;" class="fa"></Label>
                    <Label col="1" text="Settings" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/login')" (tap)="onNavItemTap('/login')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="login" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/$questionnaire/objectif')" (tap)="onNavItemTap('/$questionnaire/objectif')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="questionnaire" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/$questionnaire/genre')" (tap)="onNavItemTap('/$questionnaire/genre')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="genre" class="p-r-10"></Label>
                 </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/$questionnaire/qualite')" (tap)="onNavItemTap('/$questionnaire/qualite')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="qualite" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    [class.selected]="isComponentSelected('/$questionnaire/autre')" (tap)="onNavItemTap('/$questionnaire/autre')">
                    <Label col="0" text="&#xf015;" class="fa"></Label>
                    <Label col="1" text="autre" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                [class.selected]="isComponentSelected('/$questionnaire/autre2')" (tap)="onNavItemTap('/$questionnaire/autre2')">
                <Label col="0" text="&#xf015;" class="fa"></Label>
                <Label col="1" text="autre2" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                [class.selected]="isComponentSelected('/$questionnaire/niveau')" (tap)="onNavItemTap('/$questionnaire/niveau')">
                <Label col="0" text="&#xf015;" class="fa"></Label>
                <Label col="1" text="niveau" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                [class.selected]="isComponentSelected('/$questionnaire/senior')" (tap)="onNavItemTap('/$questionnaire/senior')">
                <Label col="0" text="&#xf015;" class="fa"></Label>
                <Label col="1" text="senior" class="p-r-10"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                [class.selected]="isComponentSelected('/$questionnaire/patologie')" (tap)="onNavItemTap('/$questionnaire/patologie')">
                <Label col="0" text="&#xf015;" class="fa"></Label>
                <Label col="1" text="pathologie" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>